html {
    cursor: url('images/send.png'), auto;
    }

body {
    background: #e8ecea;
    font-family: 'VT323';
    margin: auto;
    box-sizing: border-box;
    padding: 10px;
  }

  .vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
  }

  .container {
    margin: auto;
    justify-content: center;
    width: 1210px;
    height: auto;
  }

  .left-box{
    float: left;
    background-color: #9fc7b6;
    height: 906px;
    width: 300px;
    box-sizing: border-box;
    margin: 15px 15px 15px 15px;
  }
  
  .top-left{
    position: relative;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    box-sizing: border-box;
    height: 25%;
    margin: 0px;
  }
  
  .name {
      position: absolute;
      font-size: 40px;
      color: white;
      bottom: 8px;
      left: 16px;
      box-sizing: border-box;
      text-shadow: 
        -1.5px -1.5px 0 #414a46,  
         1.5px -1.5px 0 #414a46,
        -1.5px  1.5px 0 #414a46,
         1.5px  1.5px 0 #414a46;
  }
  
  img { 
      width: 100%;
      height: 100%;
      box-sizing: border-box;
  }

  .pic { 
    border: solid transparent;
    border-width: 20px 15px 0px 15px;
    opacity: 0.65;
}
  
  .objective {
     border-style: solid;
     border-width: 0px 0px 2px 0px ;
     margin: 15px;
     padding: 10px;
     box-sizing: border-box;
  }
  
  .objective-img{
    float: left;
    box-sizing: border-box;
    width: 30px;
    height: auto;
  }
  
  .objective-text{
    display: inline-block;
    text-align: left;
    color: white;
    box-sizing: border-box;
    margin: 15px 15px 15px 15px;
  }

  .left-box-rows{
     border-style: solid;
     border-width: 0px 0px 2px 0px;
     box-sizing: border-box;
     margin: 15px;
     padding: 10px;
  }
  
  .left-box-text {
    display: inline-block;
    text-align: left;
    font-size: 20px;
    color: white;
    margin: 15px 15px 15px 15px;
    box-sizing: border-box;
  }
  
  .left-box-text a {
    color: #ffffff; 
    text-decoration: none; 
  }
  
  .left-box-text a:hover {
    text-decoration: underline; 
    color: #115440; 
  }

  .left-box-text2 {
    display: inline-block;
    text-align: left;
    font-size: 18px;
    color: white;
    margin: 15px 15px 15px 15px;
    box-sizing: border-box;
  }

  .work-experience {
    float: left;
    background-color: white;
    height: 530px;
    width: 850px;
    margin: 15px 15px 15px 15px;
    box-sizing: border-box;
  }

  .section-title {
    font-size: 20px;
    padding: 15px 0px 0px 0px;
  }
  
  .box-img {
    float: left;
    height: 30px;
    width: 35px;
    margin: 25px 30px 100% 30px;
    box-sizing: border-box;
  }
  
  .job-box{
    float: left;
    border: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #cbcccc;
    box-sizing: border-box;
    margin: 0px 10px 0px 0px;
    padding: 10px 10px 0px 10px;
    width: 700px;
    height: auto;
  }
  
  .job-box:hover {
    background-color: rgb(226, 242, 235);
  }
  
  .box-location {
    font-weight: bold;
    line-height: 1.5;
    box-sizing: border-box;
  }
  
  .box-title{
    color: #898e8d;
    line-height: 1.5;
    box-sizing: border-box;
  }
  
  .box-description{
    line-height: 1.5;
    box-sizing: border-box;
  }

  .box-description ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 0;
}

  .box-description li {
    margin-bottom: 5px;
}
  
  .education {
    float: left;
    background-color: white;
    box-sizing: border-box;
    height: 170px;
    width: 850px;
    margin: 15px 15px 15px 15px;
  }
  
  .skills {
    float: left;
    background-color: white;
    box-sizing: border-box;
    height: 145px;
    width: 850px;
    margin: 15px 15px 15px 15px;
  }

  .projects {
    float: left;
    background-color: white;
    box-sizing: border-box;
    height: 860px;
    width: 1180px;
    margin: 15px 15px 15px 15px;
  }

  .proj-box{
    float: left;
    border: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #cbcccc;
    box-sizing: border-box;
    margin: 0px 10px 0px 0px;
    padding: 10px 10px 0px 10px;
    width: 975px;
    height: auto;
  }

  .proj-box:hover {
    background-color: rgb(226, 242, 235);
  }

  .proj-img {
    display: flex;
    justify-content: center;
    width: 100%; 
    margin-top: 20px; 
}

.proj-img img {
    max-width: 50%;
    height: auto;
    padding: 0px 0px 25px 0px;
}
  
  ul {
    list-style: none;
    margin: 10px 20px 20px 45px;
  }

.navbar {
    background-color: #588372;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: #ddd;
    color: black;
}

  
  